.nova-news-container {
    padding-top: 50px;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../../assets/detail_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    .nova-news-article {
        width: 50%;
        /* height: 100%; */
        margin-top: 100px;
        position: relative;
        background-color: #f0f0f0;
        padding: 79px 90px 115px;
        min-height: 646px;
        border-top: #e8cba7 solid 6px;

        .nova-news-article-title {
            line-height: 40px;
            font-size: 32px;
            color: #333333;
        }

        .nova-news-article-date {
            margin-top: 13px;
            font-size: 16px;
            line-height: 22px;
            color: #999999;
        }

        .nova-news-article-body {
            margin-top: 51px;
            font-size: 14px;
            color: #7d7d7d;
            line-height: 24px;
            display: flex;
            flex-direction: column;
        }
    }
}