* {
  margin: 0;
  padding: 0;
}

.todo-input-enter {
  opacity: 0;
}
.todo-input-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.todo-input-exit {
  opacity: 1;
}
.todo-input-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}